@model TheaterSchool.Models.Teacher

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalPersonID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalPerson.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalPerson.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalPerson.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalPerson.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalPerson.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalPerson.SecondName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalPerson.SecondName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalPerson.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalPerson.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalPerson.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalPerson.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalPerson.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalPerson.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
    </dl>
</div>
<div>
    @if (this.Context.User.IsInRole("admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.PhysicalPersonID">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>