@model IEnumerable<TheaterSchool.Models.SubjectTimetable>

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-success" asp-action="Create">Создать новое</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID дисциплины
            </th>
            <th>
                Название дисциплины
            </th>
            <th>
                ID расписания
            </th>
            <th>
                День недели
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimetableID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timetable.DayOfTheWeek)
            </td>
            <td>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-subjectId="@item.SubjectID" asp-route-timetableId="@item.TimetableID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
