@model IEnumerable<TheaterSchool.Models.PhysicalPersons>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @if (this.Context.User.IsInRole("admin"))
    {
        <a class="btn btn-success" asp-action="Create">Создать новое</a>
    }
</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecondName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @if (item.Sex == true)
                        {
                            <label>Мужской</label>
                        }
                        else
                        {
                            <label>Женский</label>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @if (this.Context.User.IsInRole("admin"))
                        {
                            <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.ID">Редактировать</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                        }
                        <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.ID">Подробнее</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>